[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
earthengine-api = "*"
pandas = "*"
tqdm = "*"
azure-storage-blob = "*"
azure-mgmt-storage = "*"
python-dotenv = "*"
numpy = "*"
sentinelsat = "*"
gdal = "==3.0.4"
proj = "*"
matplotlib = "*"
descartes = "*"
osmpythontools = "*"
shapely = "*"
contextily = "*"
osmnx = "*"
fiona = "*"
pyproj = "*"
rtree = "*"
geopy = "*"
mapclassify = "*"
geopandas = "*"
bokeh = "*"
osmium = "*"
overpy = "*"
osm-runner = "*"
pillow = "*"
osmviz = "*"
rasterio = "*"
nbdime = "*"
seaborn = "*"
pandas-profiling = "*"
sklearn = "*"
category-encoders = "*"
catboost = "*"
shap = "*"
modapsclient = "*"
pyqt5 = "*"
ipykernel = "*"
pyreadstat = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
